:root>* {
    --md-default-fg-color--dark: #3b454e;
    --md-default-fg-color--light: #c0c0c0;
    --md-code-bg-color: #272822;
    --md-code-fg-color: #FFF;
    --md-code-hl-number-color: #75715e;
    --md-admonition-icon--file: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"></path></svg>');
}

.md-grid {
    max-width: 70rem;
}

.tabbed-content {
    max-height: 40em;
    overflow: auto;
    border-radius: 5px;
}

.md-typeset h1 {
    font-size: 3em;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
    color: var(--md-default-fg-color--dark);
    font-weight: 600;
}

.md-typeset img, .md-typeset iframe {
    max-width: 80%;
    display: block;
    margin: auto;
    /* box-shadow: 1px 1px 5px #DDD;
    cursor: pointer; */
}

.embed {
    padding: 1rem;
    border: 1px solid #EEE;
    border-radius: 3px;
    display: block;
    cursor: pointer;
}

.md-content {
    color: #3b454e;
    padding: 2rem;
}
.md-content a {
    background: aliceblue;
}

.md-main__inner {
    margin-top: 0;
}

.md-typeset code {
    counter-reset: line;
    border-radius: 3px;
}

.md-typeset span.line {
    counter-increment: line;
}

.md-typeset span.line:first-of-type::before {
    counter-set: 1;
}
.md-typeset span.line:before {
    content: counter(line);
    width: 3em;
    margin-right: 1em;
    display: inline-block;
    color: var(--md-code-hl-number-color);
    border-right: 1px solid var(--md-code-hl-number-color);
}

/* Ger vänster sidebar en ljus bakgrund */
.md-sidebar--primary {
    height: auto;
    background: #edededb3;
    color: #5c6975;
    border-right: 1px solid #d7d7d7;
}
.md-sidebar--secondary {
    color: #5c6975;
}

.md-typeset table th {
    background: #ededed50;
}

.md-typeset .admonition.file,
.md-typeset details.file {
    border-color: rgb(43, 155, 70);
}

.md-typeset .file>.admonition-title,
.md-typeset .file>summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
}

.md-typeset .file>.admonition-title::before,
.md-typeset .file>summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--file);
    mask-image: var(--md-admonition-icon--file);
}
.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
    font-size: 0.8rem;
}
